---
import '../styles/global.css';

import favicon from '../images/favicon.svg'
import background from '../images/background.svg'
import Github from '../images/GitHub_Invertocat.svg'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shifaan</title>
		<style define:vars={{ backgroundUrl: `url(${background.src})` }}>
			:root {
				--col1: rgb(255, 0, 128);
				--col2: rgb(72, 0, 255);
				--bg: white;
				--fg: black;
			}

			@media (prefers-color-scheme: dark) {
				:root {
					--bg: black;
					--fg: white;
				}
			}

			body {
				background-color: var(--bg);

				background-repeat: repeat;

				background-image: var(--backgroundUrl);

				backdrop-filter: blur(1px);

				overflow: clip;

				color: var(--fg);
			}

			#hi-name {
				visibility: hidden;
				line-height: 1;
				min-height: 1em;
			}

			#links {
				visibility: hidden;
			}

			#hi :global(.word1) {
				color: var(--col1);
			}
		</style>
	</head>
	<body>
		<div class="flex flex-col justify-center items-center h-svh mx-4">
			<div class="w-full sm:w-[80%] flex flex-col gap-4 pb-16 sm:pb-8">
				<div id="hi-name">
					<h1 id="hi" class="font-cursive text-6xl sm:text-[96px]">Hi! I'm</h1>
					<h1 id="name" class="font-pixel-byte text-8xl sm:text-[136px]">Shifaan</h1>
				</div>
				<div id="links" class="flex gap-8 h-8 items-center">
					<a href="https://github.com/shifaan0010">
						<Github
							alt="GitHub"
							class="h-6 w-6 opacity-50 hover:opacity-100"
						/>
					</a>
					<a href="mailto:shifaan04@outlook.com">
						<div
							id="mail"
							class="text-3xl font-pixel-tiny pointer opacity-50 hover:opacity-100"
						>
							@
						</div>
					</a>
				</div>
			</div>
		</div>
	</body>

	<script>
		import { gsap } from 'gsap';

		import { ScrambleTextPlugin } from 'gsap/ScrambleTextPlugin';
		import { ScrollTrigger } from 'gsap/ScrollTrigger';
		import { SplitText } from 'gsap/SplitText';
		import { TextPlugin } from 'gsap/TextPlugin';

		gsap.registerPlugin(
			ScrambleTextPlugin,
			ScrollTrigger,
			SplitText,
			TextPlugin,
		);

		window.addEventListener('load', () => {
			SplitText.create('#hi', {
				type: 'chars,words,lines',
				wordsClass: 'word++',
				charsClass: 'char++',
				linesClass: 'line++',
				onSplit: (self1) =>
					gsap
						.timeline()
						.to('#hi-name', {
							autoAlpha: 1,
						})
						.fromTo(
							'#name',
							{
								scrambleText: {
									text: '',
								},
							},
							{
								scrambleText: {
									text: 'Shifaan',
								},
								autoAlpha: 1,
								duration: 2,
								ease: 'none',
								// delay: 1,
							},
							'<',
						)
						.to(
							'#links',
							{
								visibility: 'inherit',
								duration: 1,
							},
							'<+.5',
						)
						.then(() => {
							SplitText.create('#name', {
								type: 'chars',
								// propIndex: true,
								// wordsClass: 'word++',
								charsClass: 'char++',
								// linesClass: 'line++',
								mask: 'chars',
								smartWrap: true,
								autoSplit: true,
								onSplit: (self2) =>
									gsap
										.timeline()
										.add(
											// a
											gsap
												.timeline()
												.to(self2.chars.at(-3), {
													autoAlpha: 1,
													ease: 'power1',
													transformOrigin:
														'50% 56.5%',
													duration: 2,
													rotationX: 540,
													rotationY: 4,
													color: 'var(--col1)',
												})
												.add(
													gsap
														.timeline()
														.to(
															self2.chars.at(-3),
															{
																autoAlpha: 1,
																ease: 'power1',
																duration: 3,
																delay: 5,
																rotationX: 0,
																rotationY: 0,
															},
														)
														.to(
															self2.chars.at(-3),
															{
																autoAlpha: 1,
																ease: 'power1',
																duration: 2,
																delay: 3,
																rotationX: 540,
																rotationY: 4,
															},
														)
														.yoyo(false)
														.repeat(-1),
												),
											1,
										)
										.add(
											// S
											gsap
												.timeline()
												.to(self2.chars.at(-7), {
													autoAlpha: 1,
													ease: 'bounce',
													duration: 2,
													// translateY: 100,
													transformOrigin: '40% 50%',
													rotationY: 720,
													rotationX: 2,

													color: 'var(--col2)',
												})
												.to(self2.chars.at(-7), {
													autoAlpha: 1,
													ease: 'bounce',
													duration: 2,
													repeat: -1,
													delay: 9,
													repeatDelay: 9,
													// translateY: 100,
													transformOrigin: '40% 50%',
													rotationY: 0,
													rotationX: 2,
												}),
											0,
										),
							});
						}),
			});
		});
	</script>
</html>
